
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}


header {
    background: #333;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
    color: #4CAF50;
}

section {
    padding: 20px;
    margin: 20px 0;
    text-align: center; 
}



h2, h3 {
    margin-bottom: 15px;
}

p {
    margin: 10px 0;
    line-height: 1.6;
}
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.social-media a {
    margin: 0 10px;
    color: white;
}


body.dark {
    background-color: #ece5e5;
    color: #f0f0f0;
}

#hero {
    background: #fbe7b7;
    text-align: center;
    padding: 50px 0;
}

