body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

header {
    background: #333;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-left: 20px;
}

nav a {
    text-decoration: none; 
    color: white; 
    font-weight: bold; 
}

nav a:hover {
    color: #4CAF50; 
}

.menu-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.category {
    margin: 20px 0;
}

.category h2 {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 4px;
    text-transform: uppercase;
}

.menu-item {
    border: 2px solid #da5252;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.menu-item img {
    width: 120px;
    height: auto; 
    max-height: 120px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 10px;
}

.menu-item h3, .menu-item p {
    margin: 0;
    padding: 0;
    text-align: left;
}

.menu-item .buy-button {
    margin-top: 10px;
    background-color: #da5252;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.menu-item .buy-button:hover {
    background-color: #b44a4a;
}



h1 {
    text-align: center;
    color: #333;
    margin: 20px auto;
    background: linear-gradient(to right, green, yellow);
    padding: 20px;
    border-radius: 15px;
    width: fit-content;
    display: block;
}


.buy-button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.buy-button:hover {
    background-color: #218838;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.social-media a {
    margin: 0 10px;
    color: white;
}